.App {
  text-align: center;
}

.flex-title {
  margin: 10px;
  font-style: normal;
  color: purple;
}

ul {
  list-style: none;
}

.fa-plus,
.fa-check {
  float: right;
}

.flex-title-expand {
  margin: 10px;
  font-weight: bold;
  color: purple;
}

.sub-contain {
  flex-flow: column;
  display: flex;
}

.left-button .fa-check {
  float: left;
}

.left-button {
  color: white;
  background-color: aqua;
  margin: 10px;
  border-style: hidden;
  border-radius: 3px;
  width: 100px;
}

.item-button {
  color: black;
  background-color: white;
  border-style: hidden;
  margin: 4px;
}

.item-hover:hover {
  color: aqua;
}

.container {
  display: flex;
  padding: 0;
  margin: 20px;
  background-color: lightgray;
}

.item {
  background: white;
  padding: 5px;
  margin: 10px;
  color: black;
  border-style: hidden;
  border-radius: 3px;
  text-align: left;
}
